<body>
    <div class="container-fluid">

        <h1>createDataDown</h1>

        <div class="clearfix">
            &nbsp;
        </div>

        <form>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <textarea class="form-control" id="json" rows="20" placeholder="request json"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" id="minimal">Minimal</button>
                        <button type="button" class="btn btn-info" id="complete">Complete</button>
                        <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    </div>
                </div>
                <div id="result" class="col-md-6 mb-3 result"></div>
            </div>
        </form>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="css/home.css">
</body>