[Unit]
Description=Ratchet server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/share/ratchet-sync/systemd/ratchet.sh

[Install]
WantedBy=multi-user.target