{
    "timezone":"",
    "mysql":{
        "user":"",
        "password":"",
        "host":"",
        "port":"",
        "database":"",
        "charset":""
    },
    "server":{
        "port":""
    }
}